.chatbot-container {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 1000;
	border-radius: 5px;
	margin-bottom: 3rem;
}

.chatbot-button {
	height: 36px;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 100;
}
