.components-multi-checkbox-control {

	&__checkbox-list {
		max-height: 14em;
		overflow: auto;
		margin-left: -6px;
		margin-top: -6px;
		padding-left: 6px;
		padding-top: 6px;
	}

	&__search-control {
		margin-bottom: 8px;
	}

	&__checkbox-control {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
