.ais-settings-cards {

	.components-card {
		margin: 16px;

		+ .components-card {
			margin-top: 0;
		}

		@media (min-width: 783px) {
			margin: 64px;

			+ .components-card {
				margin-top: 0;
			}
		}

		@media (min-width: 1088px) { // 800 + 2*64 + 160 (admin menu width).
			margin: 64px auto;
			max-width: 800px;
		}

		&__header,
		&__body {
			padding: 16px 24px;

			@media (min-width: 783px) {
				padding: 24px;
			}
		}

		&__body > .components-base-control:not(:last-child) {
			margin-bottom: 16px;

			@media (min-width: 783px) {
				margin-bottom: 24px;
			}
		}
	}

	&__heading {
		margin: 0;
	}
}
