.wpoopple-header {
	align-items: center;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	height: 60px;
	justify-content: space-between;
	max-width: 100vw;
	padding: 0 16px;

	&__left {
		align-items: center;
		display: flex;
		flex-grow: 3;
		flex-shrink: 8;
	}

	&__right {
		align-items: center;
		display: inline-flex;
		flex-wrap: nowrap;
		gap: 8px;
	}
}
