.ai-services-playground-capabilities-panel {

	.components-checkbox-control {
		margin-bottom: 4px;
	}
}

.ai-services-playground-foundational-capability {
	margin-bottom: 16px;
}

.ai-services-playground-additional-capabilities legend {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	box-sizing: border-box;
	display: block;
	margin-bottom: 8px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
