.wpsp-footer {
	align-items: center;
	background: #fff;
	display: flex;
	font-size: 13px;
	gap: 16px;
	height: 24px;
	justify-content: space-between;
	max-width: 100vw;
	padding: 0 16px;
	z-index: 30;
}
