.wpoopple-footer {
	align-items: center;
	background: #fff;
	display: flex;
    font-size: 13px;
    height: 24px;
	justify-content: space-between;
	max-width: 100vw;
    padding: 0 16px;
    z-index: 30;

	&__left {
		align-items: center;
		display: flex;
		flex-grow: 3;
		flex-shrink: 8;
	}

	&__right {
		align-items: center;
		display: flex;
	}
}
