.react-chatbot-kit-chat-header {
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
	justify-content: space-between;

	.chatbot-header-title {
		font-weight: 700;
		padding-right: 36px;

		&__note {
			font-size: 80%;
			font-weight: 400;
		}
	}

	.chatbot-header-close-button {
		margin: 0;
		padding: 0;
		background-color: transparent;
		border: 1px solid transparent;
		color: #646970;
		z-index: 1000;
		outline: none;
		transition: color 0.1s ease-in-out;

		&:hover,
		&:focus,
		&:active {
			color: #135e96;
		}

		&__icon::before {
			content: "\f158";
			font: 400 20px / 1 dashicons; // stylelint-disable-line font-family-no-missing-generic-family-keyword
			vertical-align: middle;
		}
	}
}
