.ai-services-content-part {
	margin: 1em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		/*
		 * Ensure WordPress's general heading color does not override the
		 * content part text color.
		 */
		color: inherit;
	}

	textarea.code {
		width: 100%;
	}
}
