.react-chatbot-kit-chat-bot-message {

	p {
		font-size: 0.9rem;
	}

	ul {
		list-style: disc;
	}

	ul,
	ol {
		padding-left: 1rem;
	}

	p:first-child,
	ul:first-child,
	ol:first-child {
		margin-top: 0;
	}

	p:last-child,
	ul:last-child,
	ol:last-child {
		margin-bottom: 0;
	}

	div + .button {
		margin-top: 1rem;
	}
}
