body.js.remove-screen-spacing #wpcontent {
	padding-left: 0;
}

.body.js.remove-screen-spacing #wpbody-content {
	padding-bottom: 0;
}

body.js.remove-screen-spacing .wrap {
	margin: 0;
}

body.js.remove-screen-spacing .wrap h1 {
	padding: 0;
}

body.js.remove-screen-spacing #wpbody-content > div:not(.wrap):not(#screen-meta),
body.js.remove-screen-spacing #wpfooter {
	display: none;
}

body.js.remove-screen-spacing h1 + .notice {
	display: none;
}
